<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>
  <!-- insert CDN connection  -->
  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../static/css/wis.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg sticky-top pl-3 bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"> WOMEN IN STEM </a>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/user"> User </a>
          </li>
      </div>
      </ul>

      <ul class="navbar-nav d-flex justify-content-end flex-wrap ms-md-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/logout"> Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="body d-felx flex-column justify-content-center p-4">
    <h class = "section"> About Us </h>
      <p>
        We are <bold> Women in STEM</bold>. Our team members are Henry (e), April (horanghae), Jing (peanut), Joseph (april).
        We come from Stuyvesant Highschool. Women in STEM was created approximately 2 weeks ago for a final project in the class Software Development.
        We wanted to create a website that would be useful to us as well as other students.

      </p>
    <h class = "section"> Our Purpose </h>
      <p>
        Our purpose is to create an enviornment where people can keep their notes organized.
        As highschool students, we understand the need for organization.
        We always felt that notepads have been a huge help for organizing information.
        Thus, we wanted to create our own version of a notepad.
        We wanted it to contain multiple functions such as creating post-its as you please as well as drawing freely on the notepad.
        Our website is still in its developing phase, but we believe we have the general function of the website down.
        We can't wait to create more helpful websites in the future.
      </p>
  </div>
  <script>
    let joseph_is_the_best_pm = true;
  </script>
</body>

</html>
